<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tools.tiger.gascap" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19.1.0" />

    <application
        android:name=".app.GasApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="@string/google_maps_key"/>
        
        <activity android:name="tools.tiger.gascap.Home"
            android:launchMode="singleTop"
            android:label="@string/title_activity_home"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="tools.tiger.gascap.Vehicle"
            android:label="@string/title_activity_vehicle"
            android:parentActivityName="tools.tiger.gascap.Home">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="tools.tiger.gascap.Home" />
        </activity>

        <activity android:name="tools.tiger.gascap.LogFill"
            android:label="@string/title_activity_log_fill"
            android:parentActivityName="tools.tiger.gascap.Home">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="tools.tiger.gascap.Home" />
        </activity>

        <activity android:name="tools.tiger.gascap.GoogleAuth"
            android:label="@string/title_activity_google_auth"
            android:parentActivityName="tools.tiger.gascap.Home">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                    android:value="tools.tiger.gascap.Home" />
        </activity>

        <activity android:name="tools.tiger.gascap.Location"
            android:label="@string/title_activity_location">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="tools.tiger.gascap.LogFill" />

        </activity>

    </application>
</manifest>
